/*Header*/
.header {
  background-color: rgb(38, 88, 173);
  color: white;
  padding: 20px 35px;
}

.header h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

.header p {
  font-weight: 700;
}

/*container 1 and 2*/
.flexContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  /* Keeps space between items */
}

.alignLeft {
  margin-right: auto;
  /* Aligns the item to the left */
  margin: 0px 60px;
}

.flexContainer h1 {
  font-weight: bold;
  position: relative;
  padding-bottom: 1rem;
}

.flexContainer p {
  line-height: 2.5rem;
  font-size: 22px;
}

.alignRight {
  margin-left: auto;
  /* Aligns the item to the right */
  margin: 0px 60px;
}

.flexContainer hr {
  background-color: blue;
  position: absolute;
  margin-top: -28px;
  font-weight: bold;
  width: 70px;
  height: 5px;
}

.flexContainer button {
  color: #fff;

  min-width: 120px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4rem;
}

.flexContainer .buttonGreen:hover {
  background-color: #198b5e;
  /* New background color on hover */
}

.flexContainer .buttonGreen {
  background-color: #09ab6f;
  border-color: #09ab6f;
}

/*form*/
.formStyle {

  background-color: #ffc801;
  background-image: url(https://www.teknorix.com/wp-content/uploads/2019/01/Contact-Form-Yellow-Background-Image.png);
  background-repeat: no-repeat;

  background-size: contain;
  padding: 60px 80px;

}

.formContainer {
  align-items: center;
  padding-left: 320px;
}

.formContainer p {
  color: white;
}

.formContainer h1 {
  padding-left: 120px;
  color: white;
}

.formStyle Input {
  padding: 10px 28px;
}

/*footer*/
.footer {
  padding: 150px;
  background-color: black;
}

.parent {
  display: flex;
  flex-direction: row;
}

/*card*/
.card {
  width: 300px;
  height: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.card:hover {
  background-color: #b2caec;
  /* Adjust color as needed */
}

.initialDetails {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #555;
  padding: 20px;
  box-sizing: border-box;
}

.card:hover .initialDetails {
  display: none;
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #555;
  padding: 20px;
  box-sizing: border-box;
}

.card:hover .details {
  display: block;
}

.profileimg 
{
border-radius: 5000000px;
}